body{
	background-color: #fff;
}
.container{
	border-radius: 10px;
	border: 1px solid #000;
	background-color: #fff;
}
div.racket{
	border-radius:10px;
	background-color: #000;
	color:  #fff;
	border: 1px solid #fff;
	width: 126px;
	height: 26px;
	position: relative;
	left: 32px;
	top: 50px;
	padding: 10px;
	font-family: Arial;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
div.ball{
	background-color: #000;
	border: 1px solid black;
	width: 24px;
	height: 24px;
	position: relative;
	left: 32px;
	top: 200px;
	border-radius: 15px;
}
div#player{
	top: 350px;
}
div#field{
	margin: auto;
	width: 700px;
	height: 500px;
	margin-bottom: 50px;
}
div#scoreboard{
	float: left;
	width: 20%;
	height: 200px;
	text-align: center;
}
div#scores{
	font-size: 3.5em;
}
div#howto{
	margin: auto;
	text-align: center;
	width: 685px;
	height: 30px;
	padding: 10px;
}
kbd{
	border: 1px solid #000;
	font-weight: bold;
	padding: 5px;
	margin-left: 5px;
}
